.sideBar_Personal_Info {
    position: sticky;
    top: 350px;
    /* width: 25%; */
    height: fit-content;
    padding: 50px 20px;
    margin: 350px 15px 80px 30px;
    /* border: 3px solid red; */
    border-radius: 30px;
    background-color: white;
}

.social_media {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social_media h1 {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    margin: 0 0 15px 0;
    font-weight: 599;
}

.button_role {
    color: black;
    background-color: #f3f6f6;
    padding: 5px 18px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
}

.button_role:hover {
    background-color: #1b74e4;
    color: white;
}

/* Social media Icons */

.social_media_icons {
    margin: 20px auto;
}

.facebook {
    color: rgb(23, 115, 234);
    font-size: 30px;
    border-radius: 15px;
    padding: 0px 10px 5px 10px;
    margin: 0 10px;
    border: none;
}
.instagram {
    color: rgb(225, 42, 114);
    font-size: 30px;
    border-radius: 15px;
    padding: 0px 10px 5px 10px;
    margin: 0 10px;
    border: none;
}
.linkedin {
    color: rgb(20, 70, 121);
    font-size: 30px;
    border-radius: 15px;
    padding: 0px 10px 5px 10px;
    margin: 0 10px;
    border: none;
}
.twitter {
    color: rgb(28, 156, 234);
    font-size: 30px;
    border-radius: 15px;
    padding: 0px 10px 5px 10px;
    margin: 0 10px;
    border: none;
}

.facebook:hover {
    background-color: rgb(23, 115, 234);
    color: white;
}

.instagram:hover {
    background-color: rgb(225, 42, 114);
    color: white;
}

.linkedin:hover {
    background-color: rgb(20, 70, 121);
    color: white;
}

.twitter:hover {
    background-color: rgb(28, 156, 234);
    color: white;
}

/* Personal Contact information like Phone number, email, location */
.personal_contact {
    padding: 10px 15px;
    margin: 5px 0;
    background-color: #f3f6f6;
    border-radius: 20px;
}

.main_personal_contact {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid rgb(39, 38, 38);
}
.main_personal_contact:last-child {
    border-bottom: none;
}

.icons {
    font-size: 32px;
    border-radius: 15px;
    padding: 0px 12px 8px 12px;
    margin: 0 20px 0 0px;
    background-color: white;
    border: none;
}

.phone {
    color: rgb(233, 59, 129);
}
.gmail {
    color: rgb(106, 181, 185);
}
.location{
    color: rgb(253, 117, 144);
}
.work {
    color: rgb(45, 118, 192);
}

.phone:hover {
    background-color: rgb(233, 59, 129);
    color: white;
}
.gmail:hover {
    background-color: rgb(106, 181, 185);
    color: white;
}
.location:hover {
    background-color: rgb(253, 117, 144);
    color: white;
}
.work:hover {
    background-color: rgb(45, 118, 192);
    color: white;
}

span {
    font-size: 18px;
    color: rgb(103, 98, 98);
}
p.gmailText {
    font-size: 18px;
    line-break: anywhere;
}

p {
  margin: 0;
  font-size: 20px;
}

/* For Download Resume */

.download_cv {
    display: block;
    margin: 40px auto;
    font-size: 25px;
    padding: 5px 30px 10px 30px;
    border-radius: 15px;
    border: none;
    background-color: #1b74e4;
}

span.download {
    position: relative;
    top: -3px;
    font-size: 30px;
    color: white;
    padding: 0 5px;
}

a {
    color: white;
    text-decoration: none;
}

/* Media Queries */

@media (max-width: 576px) {
    .sideBar_Personal_Info {
        width: auto;
        position: static;
        margin: 200px 10px 50px 10px;
        padding: 50px 15px 20px 15px;
    }
    
    .social_media h1 {
        font-size: 28px;
        margin: 15px 0 10px 0;
        font-weight: 599;
    }
    
    .button_role {
        padding: 6px 15px;
        font-size: 20px;
    }

    /* Social media Icons */

    .social_media_icons {
        margin: 17px auto;
    }

    .facebook {
        font-size: 25px;
        padding: 2px 12px 9px 12px;
        margin: 0 8px;
    }
    .instagram {
        font-size: 25px;
        padding: 2px 12px 9px 12px;
        margin: 0 8px;
    }
    .linkedin {
        font-size: 25px;
        padding: 2px 12px 9px 12px;
        margin: 0 8px;
    }
    .twitter {
        font-size: 25px;
        padding: 2px 12px 9px 12px;
        margin: 0 8px;
    }

    /* Personal Contact information like Phone number, email, location */
    .personal_contact {
        padding: 10px;
        margin: 15px 0;
    }

    .icons {
        font-size: 32px;
        padding: 0px 12px 8px 12px;
    }

    span {
        font-size: 18px;
    }
    p.gmailText {
        font-size: 15px;
    }
    
    p {
      font-size: 20px;
    }

    .download_cv {
        margin: 30px auto;
        font-size: 25px;
        padding: 10px 30px;
        border-radius: 13px;
    }
    
    span.download {
        top: -3px;
        font-size: 25px;
    }
}

/* @media only screen and (min-width: 768px) and (max-width: 992px) {
    .sideBar_Personal_Info {
        width: 55%;
    }
} */